<div class="masterContainer">
  <app-sidenav></app-sidenav>
  <div class="body">
    <div class="documents-filter">
      <div class="filter-header">
        <div class="filter-name">Documents List</div>
        <button class="new-document-btn">Upload</button>
      </div>
      <div class="documents-list-container">
        <ul class="documents-list">
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
          <app-document-item></app-document-item>
        </ul>
      </div>
    </div>
  </div>
</div>
